/*
 * Paper Enhanced
 * https://github.com/HUMORCE/Paper-Enhanced
 */

 /* Footnote
 -------------------------------------------------- */
a[href^="#fn:"] {
  font-weight: normal;
  border-bottom: none;
}

a[href^="#fn:"]::before {
  content: '[';
}

a[href^="#fn:"]::after {
  content: ']';
}

 /* Code Block
 -------------------------------------------------- */
.post-content code {
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}
